body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

input,button,textarea{
    border: none;
    outline: none;
}

.add-to-cart-btn{
    display: flex;
    border-style: solid;
    width: 125px;
    font-size: 15px;
    justify-content: center;
    border-radius: 10px;
    color: black;
    border-width: 1px;
}

.add-to-cart-btn:hover{
    background-color: rgb(208, 237, 255);
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav ul{
    display: flex;
}

nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    color: #000000;
}

nav ul li a:hover{
    background-color: lightblue;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(252, 59, 0 0.76);
}
.active{
    background-color: lightblue;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(252, 59, 0 0.76);
}
.main{
    width: 100%;
    height: 800px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.popular-items-container{
    display: flex;
    justify-content: center;
}

.popular-item{
    display: flex;
    margin: 20px;
    border-style: solid;
    border-radius: 1;
    padding: 10px;
}

.card-title{
    color: black;
}

.card-price{
    color: black;
}

.card-description{
    color: black;
}

.container{
    padding: 15px;
}

.visually-hidden{
    color: black;
}

.search-container{
    display: flex;
    justify-content: center;
}

.search-box {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    overflow: hidden;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
}

.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}
.custom-map-control-button:hover {
background: #ebebeb;
}

.popular-item-container{
    display: flex;
    justify-content: center;
}

.popular-item-img{
    display: flex;
    padding: 20px;
    width: 100%;
    height: 300px;
}

.popular-item-text-container{
    display: flex;
    justify-content: center;
}

.popular-item-text{
    display: flex;
    font-size: 26px;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    padding: 10px 15px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.card-title{
    display: flex;
    justify-content: center;
}

.header-container{
    display: flex;
    justify-content: center;
}

.text-end{
    display: flex;
    padding-left: 20px;
}